.post-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  background: rgba(150, 150, 150, 0.103);
  border-radius: 0.8rem;
  cursor: pointer;
  transition: all 270ms ease;
}

.post-body:hover {
  transform: translateY(-2px);
  background-color: rgba(150, 150, 150, 0.342);
}

.post-body h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #f1f1f1;
  width: 100%;
  max-width: 750px;
}

.post-body p {
  font-size: 0.97rem;
  font-weight: 500;
  color: #f3c610e1;
  margin-top: 1rem;
  align-self: flex-end;
}
